<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <title>La brute</title>
</head>
<body>

<header id="header">
    <h1 id="app-title">La brute</h1>

    <nav id="navbar">
        <a href="/home">Home</a>
        <a href="/robot-list">Liste des robots</a>
        <a href="/object-list">Liste des objets</a>
        <a href="/login">Deconnexion</a>
    </nav>
</header>